*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f4f8fb;
color:#333;
}

/* HERO */

.hero{
height:90vh;   /* giảm chiều cao */
background:linear-gradient(120deg,#ffb347,#fff480);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
color:white;
padding:20px;
gap:15px; /* thêm dòng này để khoảng cách đều hơn */
}

.hero h1{
font-size:60px;
margin-bottom:5px;   /* giảm khoảng cách */
}

.hero p{
font-size:20px;
margin-bottom:15px;  /* giảm khoảng cách */
}

.donate-btn{
background:white;
color:#ffdc72;
padding:15px 40px;
border-radius:30px;
font-size:20px;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

.donate-btn:hover{
transform:scale(1.05);
}

/* COUNTER */

.counter-section{
background:white;
text-align:center;
padding:60px 20px;
}

.counter{
font-size:55px;
font-weight:bold;
color:#ff7a18;
margin-bottom:10px;
}

.goal{
font-size:20px;
margin-bottom:30px;
}

/* PROGRESS BAR */

.progress{
width:70%;
height:30px;
background:#e4e4e4;
margin:auto;
border-radius:20px;
overflow:hidden;
}

.progress-bar{
height:100%;
width:18%;
background:linear-gradient(90deg,#ff7a18,#ffb347);
}

/* INFO SECTION */

.info{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:30px;
padding:60px 20px;
}

.card{
background:white;
width:300px;
padding:25px;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
text-align:center;
}

.card h3{
margin-bottom:10px;
color:#ff7a18;
}

/* CTA */

.cta{
background:#ff974e;
color:white;
text-align:center;
padding:60px 20px;
}

.cta h2{
font-size:40px;
margin-bottom:20px;
}

.cta a{
background:white;
color:#ff7a18;
padding:15px 40px;
border-radius:30px;
text-decoration:none;
font-size:20px;
font-weight:bold;
}

/* FOOTER */

footer{
background:#111;
color:#aaa;
text-align:center;
padding:20px;
font-size:14px;
}

.qr{
width:260px;
margin-top:20px;
background:white;
padding:10px;
border-radius:10px;
}

.qr-text{
margin-top:10px;
font-size:16px;
}

.logo-img{
width:250px;
position:absolute;
top:20px;
right:20px;
}

.progress {
  width: 300px;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 30%;
  background: linear-gradient(90deg, orange, red);

  /* 200s = 20 lần nhảy (mỗi 10s) */
  animation: grow 200s steps(10) forwards;
}

@keyframes grow {
  from { width: 30%; }
  to { width: 40%; } /* tăng tổng 10% (20 bước × 0.5%) */
}

